html,
body{
    height: 100%;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 1.5rem;
    opacity: 0.5;
}
p{
    font-size: 15px;
    opacity: 0.5;

}
.page-header {
    font-size: 1rem;
}

.cd{
    font-size: 1rem;
    display:flex;
    
}
.third,h4{
font-size: 1rem;
font-family: sans-serif;

}

.third ul{
    padding-left: 2rem;
    list-style-type: none;
}

.third ul li {
    padding-left: 1.5rem;
    background-image:url(../img/favicon.png);
    background-repeat: no-repeat;
    line-height: 1.4rem;

}

.text h3 h4{
    font-size: 70px;
}

.cards h1 {
    padding-top:6rem;
    padding-bottom:1rem;
    text-align: center;
}
.cards h4{
    padding-bottom:2rem;
}
.portlolio{
    padding-top: 3rem;
}
.testimonials h4{
    padding-bottom:2rem;
}
.testimonials p{
    font-family: 'Lato', sans-serif;
    line-height: 1.5rem;
    text-align: justify;
    font-size:large;
}
.testimonials cite img{
    border-radius: 50%;
}
.testimonials h3 h4{
    text-align: center;
}
.ac {
    color: white;
    background-color: chartreuse;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    
}
.ac p{
    color: white;
    font-size: large;
    font-family: sans-serif;
    opacity: 2;
}
.teams{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.team h6 {
    font-style: italic;
}
.team p {
    font-style: italic;
}

.media a{
    padding-top:2rem;
    color: grey;
    padding-right: 1rem;
    padding-bottom: 2rem;
}
.foo{
    padding-bottom: 2rem;
}

hr.style1{
    border-top: 1px solid #8c8b8b;
}

.space{
    color: green;
    display: block;
    margin: auto;
}
.color {
    color: green;
}




